# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Email Configuration (for notifications)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Mercado Pago Configuration
MERCADOPAGO_ACCESS_TOKEN=APP_USR-2014910132661549-080217-23258738b8ab960ad6fe118d0fc94d37-232263627
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=APP_USR-085e6338-2cdc-4b9b-9269-fec57ea89b8d
MERCADOPAGO_CLIENT_ID=2014910132661549
MERCADOPAGO_CLIENT_SECRET=nQmyrLVp9Adn7whS4mmQC3MsPQFxZ4o7
MERCADOPAGO_IS_SANDBOX=false
MERCADOPAGO_WEBHOOK_SECRET_SANDBOX=tu_secreto_sandbox
MERCADOPAGO_WEBHOOK_SECRET_LIVE=tu_secreto_live

# Mercado Pago Product IDs
MP_PRO_PRICE_ID=MLB_tu_product_id_pro_aqui
MP_STUDIO_PRICE_ID=MLB_tu_product_id_studio_aqui 